In [1]:
import pandas as pd
import numpy as np
import os
import albumentations as A
from albumentations.pytorch import ToTensorV2

from PIL import Image
import matplotlib.pyplot as plt

In [15]:
# meta와 train데이터 가져오기
meta = pd.read_csv('../datasets_fin/meta.csv')
train_data = pd.read_csv('../datasets_fin/train.csv')

In [16]:
# transform
trn_transform = A.Compose([
    # 이미지 크기 조정
    A.Resize(height=256, width=256),
    # images normalization
    A.Normalize(mean=[0.485, 0.456, 0.406], std=[0.229, 0.224, 0.225]),
    # numpy 이미지나 PIL 이미지를 PyTorch 텐서로 변환
    # ToTensorV2(),
])

In [17]:
# idx로 img 가져오기
def get_item(idx):
    name, target = train_data.loc[idx,]
    img = np.array(Image.open(os.path.join("../datasets_fin/train/", name)))

    # img = trn_transform(image=img)['image']
    return img, target, name

In [18]:
meta['class_name_kr'] = ['계좌번호','임신 의료비 지급 신청서','차량 계기판','입퇴원 확인서','진단서','운전면허','진료비 영수증','진료 확인서',
                         '주민등록증','여권','진료비 납입 확인서','약 영수증','처방전','이력서','(진료)소견서','차량 등록증','차량 번호판']

In [19]:
meta

    target                                         class_name  class_name_kr
0        0                                     account_number           계좌번호
1        1  application_for_payment_of_pregnancy_medical_e...  임신 의료비 지급 신청서
2        2                                      car_dashboard         차량 계기판
3        3            confirmation_of_admission_and_discharge        입퇴원 확인서
4        4                                          diagnosis            진단서
5        5                                     driver_lisence           운전면허
6        6                              medical_bill_receipts        진료비 영수증
7        7                     medical_outpatient_certificate         진료 확인서
8        8                                   national_id_card          주민등록증
9        9                                           passport             여권
10      10                               payment_confirmation     진료비 납입 확인서
11      11                             pharmaceutical_receipt          약 영수증
12      12                                       prescription            처방전
13      13                                             resume            이력서
14      14                               statement_of_opinion        (진료)소견서
15      15                   vehicle_registration_certificate         차량 등록증
16      16                         vehicle_registration_plate         차량 번호판

- 0 : 계좌번호
- 1 : 임신 의료비 지급 신청서
- 2 : 차량 계기판
- 3 : 입퇴원 확인서
- 4 : 진단서
- 5 : 운전면허
- 6 : 진료비 영수증
- 7 : 진료 확인서
- 8 : 주민등록증
- 9 : 여권
- 10 : 진료비 납입 확인서
- 11 : 약 영수증
- 12 : 처방전
- 13 : 이력서
- 14 : (진료)소견서
- 15 : 차량 등록증
- 16 : 차량 번호판

In [20]:
train_data

                        ID  target
0     002f99746285dfdd.jpg      16
1     008ccd231e1fea5d.jpg      10
2     008f5911bfda7695.jpg      10
3     009235e4c9c07af5.jpg       4
4     00b2f44967580c74.jpg      16
...                    ...     ...
1565  fed9e9ec4a77bc06.jpg       4
1566  feeade617aa68c45.jpg       7
1567  ff51dd281a8423f1.jpg      11
1568  ff8a6a251ce51c95.jpg       5
1569  ffc22136f958deb1.jpg       9

[1570 rows x 2 columns]

In [21]:
train_data[train_data['ID'] == 'aec62dced7af97cd.jpg']

                        ID  target
1095  aec62dced7af97cd.jpg      14

In [22]:
# 종류 별 개수
train_data.value_counts('target')

target
7     102
0     100
15    100
12    100
11    100
10    100
9     100
8     100
6     100
5     100
2     100
16    100
4      99
3      98
13     74
14     51
1      46
Name: count, dtype: int64

In [9]:
train_data[train_data['target'] == 1].index

Index([  61,   66,   74,  117,  118,  148,  236,  265,  278,  292,  296,  298,
        375,  442,  490,  535,  593,  601,  602,  670,  727,  734,  750,  780,
        797,  820,  966,  974,  988, 1008, 1037, 1074, 1137, 1178, 1253, 1257,
       1286, 1293, 1316, 1355, 1404, 1427, 1431, 1439, 1492, 1553],
      dtype='int64')

In [1]:
# # target 값에 따른 img 확인
# for idx in train_data[train_data['target'] == 16].index:
#     img, target, name = get_item(idx)
#     print(img.shape, name)
#     plt.imshow(img)
#     plt.show()
#     # print(idx)